<div class="form-container" *ngIf="!(auth.user$ | async) as user; else redirect">
  <div>
    <div class="form_bg">
      <form #regForm='ngForm' (ngSubmit)="RegisterUser(regForm)">
        <h2>Register a new Shopaholic account</h2>
        <br />
        <div class="form-group group-elem">
          <label for="email">Email: </label> <br />
          <input #email="ngModel" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email"
            placeholder="John.Doe@gmail.com" ngModel required>
          <div *ngIf="email.touched" class="error">
            <p *ngIf="email.errors?.required">Email is a required field!</p>
            <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
          </div>
        </div>
        <br />
        <div class="form-group group-elem">
          <label for="displayName">Display name: </label>
          <br />
          <input #displayName="ngModel" type="text" class="form-control" placeholder="e.g. John Doe" name="displayName" required ngModel>
          <div *ngIf="displayName.touched" class="error">
            <p *ngIf="displayName.errors?.required">Display name is a required field!</p>
          </div>
        </div>
        <br />
        <div class="form-group group-elem">
          <label for="password">Password: </label>
          <br />
          <input #password="ngModel" type="password" class="form-control" placeholder="********" name="password" id="password" ngModel required minlength="6">
          <div *ngIf="password.touched" class="error">
            <p *ngIf="password.errors?.required">Password is a required field!</p>
            <p *ngIf="password.errors?.minlength">Minimum length is 6 characters</p>
          </div>
        </div>
        <div class="error" *ngIf="this.errorMessage != ''">
          <p>{{this.errorMessage}}</p>
        </div>
        <br />
        <div class="buttons">
          <button type="submit" class="btn" id="Register">Register</button>
          <button class="button" class="btn" (click)="auth.googleSignIn()">Log in with Google</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #redirect>
  <p>You are already registered and signed in! From <a routerLink="/home">here</a> you can get back home!</p>
</ng-template>