header {
  background: linear-gradient(rgb(0, 175, 255) 0%, rgba(0, 180, 220, 0.5) 50%, rgb(0, 175, 255) 100%);
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  display: flex;
  margin: auto;
}
#cart{
  background-color: red;
}

header span {
  color: white;
  padding: 0.5em;
  margin: .5em;
  padding: .25em 1.2em;
  border: azure solid 1px;
  border-radius: 4px;
  background-color: navy;

}

.mini-navbar {
  border: 1px solid #00d4ff;
  border-radius: 0.3em;
  padding-left: 0;
  width: 100%;
}


header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: rgb(0, 195, 255);
  list-style: none;
  margin: .5em;
  padding: .25em 1.2em;
  border: azure solid 1px;
  border-radius: 4px;

}


nav {
  border-top: 1px solid #00acf4;
}


.mini-navbar-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
  margin: auto;
}

.mini-navbar {
  background-color: #6ba1b8;
  border-radius: 5px;
}

.mini-navbar {
  border-left: 1px solid lightgrey;
  padding-left: .5em;
}

