  <header *ngIf="(auth.user$ | async) as user; else notLoggedHeader">
    <nav class="mini-navbar-wrap">
          <span >Welcome {{user.displayName}}!</span>
          <a routerLink="/home">Home</a>
          <a routerLink="/user/profile">Profile</a>
          <a routerLink="/shop/browse">Shop</a>
          <a id="cart" routerLink="/shop/cart">Your Cart</a>
          <a *ngIf="auth.isAdmin(user.email)" routerLink="/shop/create-product">Create Product</a>
          <a routerLink="/home" (click)="logoutHandler()">Sign Out</a>
    </nav>
  </header>

  <ng-template #notLoggedHeader>
    <header> 
    <a routerLink="/user/login">Login</a>
    <a routerLink="/user/register">Register</a>
  </header>
  </ng-template>